language: python

python:
- "2.7"
- "3.5"
    
install:
- pip install pytest pytest-cov
- pip install coveralls
- pip install -r requirements.txt

before_script:
- python setup.py install

script: 
- py.test --cov-report term-missing --cov=abbreviations

after_success:
- coveralls
